@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:1024px){
    /*&Versão para Tablets*/
    body{
        background-image: url(../img/fundotablet.png);
    }
    #login{
       padding:45px 20px;
       width: 90%;
       max-width: 400px;
    }
}

@media screen and (min-width:1024px) {
    /*&Versão para Telas Maiores*/
    body{
        background-image: url(../img/fundopc.jpg);
    }
    #login{
        padding:50px 25px;
        width: 90%;
        max-width: 480px;
     }
     #login h1{
        font-size: 2em;
     }
    .campo{
        width: 70%;
    }
 }

